<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629344566477-uaqec3u8dn4slk9jchpp761h31rblpgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629344566477-uaqec3u8dn4slk9jchpp761h31rblpgl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>629344566477-avtamn8g4se4dfuctnhlv7nf4li4r3tl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVM58K7j8-JsCFEzMnlvShtujaBeMHiTs</string>
	<key>GCM_SENDER_ID</key>
	<string>629344566477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kodecraft.pzdeals</string>
	<key>PROJECT_ID</key>
	<string>pzdeals-b9228</string>
	<key>STORAGE_BUCKET</key>
	<string>pzdeals-b9228.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629344566477:ios:e5ab56422921f0fcecbd84</string>
</dict>
</plist>